body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer-container {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}
.inner-container-1 {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.inner-container-2 {
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.inner-container-3 {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}

.left {
  display: flex;
  flex-grow: 1;
}
.mid {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

span{
    color: coral;
    font-size: 20px;
}
